
.icon {
    fill: blueviolet;
}

.icon:hover {
    fill: #bf8def;
}

.circle {
    fill: yellowgreen;
    fill-opacity: 0.75;
}

.circle:hover {
    fill: yellow;
    fill-opacity: 0.2;
}

.rect {
    stroke: black;
}

.water {
    fill-opacity: 0.9;
    fill: #346ff3;
}

.glass {
    fill-opacity: 0.2;
    fill: #47BBF1;
    stroke: black;
}


.flag {
    stroke-linejoin:round;
    fill:white;
    stroke:black;
    stroke-width:3;
}
