@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

body {
    margin: 0;
}

.top {
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    box-shadow: 1px 0 3px rgba(0, 0, 0, .3);
}

a {
    text-decoration: none;
    outline: none;
}

.top a {
    font-size: 13px;
    text-transform: uppercase;
    font-family: Cambria, Georgia, serif;
    letter-spacing: 1px;
    color: #333;
    display: inline-block;
    font-weight: bold;
}

.container {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

h1 {
    font-size: 2.5em;
    font-family: 'Comfortaa', cursive;
    color: #524f4e;
    font-weight: 300;
}

h1 span {
    font-weight: 700;
}

p {
    font-size: 1.1em;
    font-family: 'Comfortaa', cursive;
    color: #9562f5;
}

header nav {
    margin-top: 50px;
}

header nav a {
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    color: #524f4e;
    display: inline-block;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: .2s linear;
}

header nav a:last-child {
    margin-right: 0;
}

.current-demo, header nav a:hover {
    border-color: inherit;
}

.button-container {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 550px) {
    h1 {
        font-size: 1.8em;
    }
}

@media (max-width: 500px) {
    p {
        font-size: 1em;
    }

    header nav a {
        margin: 7px;
    }
}

.menu-main {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
    background: white;
}

.menu-main:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: -20px;
    background: radial-gradient(white 0%, white 70%, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0) 100%) 0 -10px;
    background-size: 20px 20px;
    background-repeat: repeat-x;
}

.menu-main li {
    display: inline-block;
}

.menu-main a {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 10px 30px;
    font-family: 'PT Sans Caption', sans-serif;
    color: #777777;
    transition: .3s linear;
    position: relative;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #9562f5;
    opacity: 0;
    transition: .5s ease-in-out;
}

.menu-main a:before {
    left: 5px;
}

.menu-main a:after {
    right: 5px;
}

.menu-main a.current:before,
.menu-main a.current:after,
.menu-main a:hover:before,
.menu-main a:hover:after {
    opacity: 1;
}

.menu-main a.current,
.menu-main a:hover {
    color: #9562f5;
}

@media (max-width: 680px) {
    .menu-main li {
        display: block;
    }
}

.submenu {
    position: absolute;
    z-index: 5;
    min-width: 20px;
    background: white;
    border-top: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear;
}

.submenu li {
    position: relative;
    top: 50px;
}

.submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 13px;
    border-bottom: 1px solid #CBCBCC;
}

.submenu .submenu {
    position: absolute;
    left: -10%;
    margin-top: 10px;
    transition: .3s linear;
}


nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

#navbar {
    position: absolute;
    margin: 0;
    padding: 10px;
    width: 100px;
}

#navbar a {
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    border-left: 5px solid #9562f5;
    display: block;
}

#navbar a:hover {
    background-color: #bda2f1;
    border-left: 5px solid #5757ff;
}

.mainDesk {
    margin: 10% 10%;
    padding: 2em;
}

footer {
    clear: both;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 10%;
    margin-bottom: -3%;
}

.button {

    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
    background-color: #9562f5;
    border: none;
    color: #CBCBCC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
